.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273) !important;
  transition: all 0.7s linear;
}

.card-body {
  padding: 2rem 0 !important;
}

.card-text {
  padding: 0.3rem 1rem;
  font-size: 1rem;
}

.overflow {
  overflow: hidden;
}

.card-img-top {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.8);
}

.btn-Cotizador {
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: linear-gradient(0.25turn, rgb(19, 49, 62), rgb(19, 49, 62), rgb(31, 111, 146));}